{% extends "lab_10/layout/base.html" %}

{% block content %}

    <style>
    .container {
    position: relative;
    width: 60%;
  }

    .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .3s ease;
    backface-visibility: hidden;
    }

    .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
    }

    .container:hover .image {
    opacity: 0.3;
    }

    .container:hover .middle {
    opacity: 1;
    }

    .text {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    color: #F7B633;
    }
    </style>
    <p><a href="{% url 'lab-10:list_watch_later' %}" class="btn btn-warning"> Daftar Watch Later </a> </p>
    <div class="container">
      <img src="{{movie.poster}}" alt="movie-poster" class="image" style="width:100%">
      <div class="middle">
        <div class="text">
        <h2>{{ movie.title }} ({{movie.year}})</h2> <h4>{{movie.imdbrating}} / 10</h4>
        <p> {{movie.rated}} | {{movie.runtime}} | {{movie.genre}} | {{movie.released}} ( {{movie.country}} ) </p>
        <p> {{movie.plot}}</p>
              {% if added %}
              <button class="btn btn-success"> Added to Watch Later </button>
              {% else %}
              <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
              {% endif%}
          </div>
        </div>
      </div>
    </div>

</body>
</html>



{% endblock %}
