{% extends "lab_10/layout/base.html" %}

{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    .container {
    position: relative;
    width: 40%;
    }

    .image {
    opacity: 1;
    display: block;
    width: 40%;
    height: auto;
    transition: .3s ease;
    backface-visibility: hidden;
    }

    .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
    }

    .container:hover .image {
    opacity: 0.3;
    }

    .container:hover .middle {
    opacity: 1;
    }

    .text {
    background-color: black;
    color: white;
    font-size: 10px;
    padding: 6px 25px;
    color: #F7B633;
    }
}

</style>
<p>
    <a href="{% url 'lab-10:movie_list' %}" class="btn btn-primary btn-lg "> Daftar <em>Movie </em> </a>
</p>

    {% for movie in watch_later_movies %}
    <div class="w3-content w3-display-container mySlides">
      <img src="{{movie.poster}}" alt="movie-poster" class="image" style="width:100%">
      <div class="w3-display-center w3-large w3-container w3-padding-16 w3-black">
            <div class="middle">
              <div class="text">
                <h2>{{ movie.title }} ({{movie.year}})</h2> <h4>{{movie.imdbrating}} / 10</h4>
                <p> {{movie.rated}} | {{movie.runtime}} | {{movie.genre}} | {{movie.released}} ( {{movie.country}} ) </p>
                <p> {{movie.plot}}</p>
              </div>
            </div>
          </div>
    </div>
      <button class="w3-button w3-display-left" onclick="plusDivs(-1)" style="color: #F7B633">&#10094;</button>
      <button class="w3-button w3-display-right" onclick="plusDivs(1)" style="color: #F7B633">&#10095;</button>

    {% endfor %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>
{% endblock %}
