{% extends "lab_4/layout/base.html" %}

{% block content %}
{% load staticfiles %}
<h1>Portofolio</h1>
<hr/>
<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
        <img  class ="img-circle" src='{% static "penguin.jpg" %}' alt="My image" style="width:120px;height:120px;"/>
    </p>
</section>
<hr/>
<section name="about_me">
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>

<section name="form" >
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

<hr/>
{% endblock %}
